.box
{
	borderStyle:solid;
	backgroundColor: #d3dfe5;
	borderColor: #4f5a5f;
	borderThickness: 1;
}

.placeHolder
{
	borderStyle:none;
	backgroundColor: #FFFFFF;
}

.plain
{
	borderStyle:none;
}

.tableTD
{
	borderStyle:solid;
	backgroundColor: #ededed;
	borderColor: #000000;
	borderThickness: 1;
}

.tableTDempty
{
	backgroundColor: #FFFFFF;
}

.tableTH
{
	borderStyle:solid;
	backgroundColor: #dddddd;
	borderColor: #000000;
	borderThickness: 1;
}

.tableRow
{
	borderStyle:solid;
	backgroundColor: #ededed;
	borderColor: #000000;
	borderThickness: 1;
}



